* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Baloo Tamma 2", cursive;
  outline: none;
  text-align: center;
}

h1,
h3,
p,
h4,
#status {
  color: white;
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #000;
}

a {
  text-decoration: underline;
}

select,
button {
  padding: 3px;
  border: 0px;
  border-radius: 10px;
  width: 100px;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

.hud {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#status {
  font-weight: bold;
  font-size: larger;
  margin-top: 30px;
}

.players>p,
.space {
  width: 40px;
}

a {
  color: aquamarine;
}

.boardSize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardSize>p {
  margin-right: 10px;
}

.boardSize>select {
  width: 50px;
}